// === VARIABLES ===

//Main text color:
$mtcolor: #fff;
$black: #212121;


$list_border_col:#282b32;
$list_text_col:#d6d7dc;
$list_active_col: #30323e;
$list_active_bar: #3bb29f;
$status_msg_col: #501744;

//Gradients:
$body_col_1: #515465;
$body_col_2: #313443;

$wrap_col_1: #e9e9f1;
$wrap_col_2: #c2c6d2;

$detail_col_1:#602156;
$detail_col_2:#540f48;

$list_col_1: #23262d;
$list_col_2: #1c1f26;
