<label for="upload-delta" tooltip-placement="left" uib-tooltip="Upload deltas.csv file">
    <span>
    	<i class="fa fa-file-text" aria-hidden="true"></i>
    </span>
    <input type="file" id="upload-delta" style="display:none" upload-changes>
</label>
<div></div>
<div class="results">
	<span ng-class="{blink: selectedFile}" 
		  ng-show="selectedFile">
		  Data is being updated using <b>{{selectedFile}}</b>... please wait. 
	</span>
	<span ng-show="done">
		  Data was successfully updated!
	</span>
</div>